<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luna.post.mapper.UserMapper">

    <resultMap type="com.luna.post.entity.User" id="UserResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
        <result property="admin" column="admin" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifiedTime" column="modified_time" jdbcType="TIMESTAMP"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="table_field">
      id, name, password, login_time, admin, create_time, modified_time, version      
    </sql>

    <!--通过Id查询单个-->
    <select id="getById" resultMap="UserResultMap" parameterType="java.lang.Long">
        select
        <include refid="table_field"/>
        from tb_user
        where id = #{id,jdbcType=INTEGER}
    </select>


    <!--通过实体不为空的属性作为筛选条件查询列表-->
    <select id="listByEntity" resultMap="UserResultMap" parameterType="com.luna.post.entity.User">
        select
        <include refid="table_field"/>
        from tb_user
        <where>
            <if test="id != null  ">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="name != null  and name != '' ">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="password != null  and password != '' ">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="loginTime != null  ">
                and login_time = #{loginTime,jdbcType=TIMESTAMP}
            </if>
            <if test="admin != null  and admin != '' ">
                and admin = #{admin,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null  ">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="modifiedTime != null  ">
                and modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="version != null  ">
                and version = #{version,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个-->
    <select id="getByEntity" resultMap="UserResultMap" parameterType="com.luna.post.entity.User">
        select
        <include refid="table_field"/>
        from tb_user
        <where>
            <if test="id != null  ">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="name != null  and name != '' ">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="password != null  and password != '' ">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="loginTime != null  ">
                and login_time = #{loginTime,jdbcType=TIMESTAMP}
            </if>
            <if test="admin != null  and admin != '' ">
                and admin = #{admin,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null  ">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="modifiedTime != null  ">
                and modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="version != null  ">
                and version = #{version,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <!--通过Id列表作为筛选条件查询列表，列表长度不为0-->
    <select id="listByIds" resultMap="UserResultMap" parameterType="list">
        select
        <include refid="table_field"/>
        from tb_user
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <!--新增实体属性不为null的列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.luna.post.entity.User">
        insert into tb_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  ">
                id,
            </if>
            <if test="name != null  and name != '' ">
                name,
            </if>
            <if test="password != null  and password != '' ">
                password,
            </if>
            <if test="loginTime != null  ">
                login_time,
            </if>
            <if test="admin != null  and admin != '' ">
                admin,
            </if>
            <if test="createTime != null  ">
                create_time,
            </if>
            <if test="modifiedTime != null  ">
                modified_time,
            </if>
            <if test="version != null  ">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  ">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null  and name != '' ">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null  and password != '' ">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="loginTime != null  ">
                #{loginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="admin != null  and admin != '' ">
                #{admin,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null  ">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedTime != null  ">
                #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="version != null  ">
                #{version,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0，且列表id统一为null或者统一不为null-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true" parameterType="list">
        insert into tb_user
        (id, name, password, login_time, admin, create_time, modified_time, version)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
            (#{item.id,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR}, #{item.password,jdbcType=VARCHAR},
            #{item.loginTime,jdbcType=TIMESTAMP}, #{item.admin,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP},
            #{item.modifiedTime,jdbcType=TIMESTAMP}, #{item.version,jdbcType=INTEGER})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="com.luna.post.entity.User">
        update tb_user
        <set>
            <if test="name != null   and name != ''">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null   and password != ''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="loginTime != null  ">
                login_time = #{loginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="admin != null   and admin != ''">
                admin = #{admin,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null  ">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedTime != null  ">
                modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="version != null  ">
                version = #{version,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--通过表字段修改实体属性不为null的列-->
    <update id="updateByField">
        update tb_user
        <set>
            <if test="where.name == null and set.name != null and set.name != ''">
                name = #{set.name,jdbcType=VARCHAR},
            </if>
            <if test="where.password == null and set.password != null and set.password != ''">
                password = #{set.password,jdbcType=VARCHAR},
            </if>
            <if test="where.loginTime == null and set.loginTime != null">
                login_time = #{set.loginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.admin == null and set.admin != null and set.admin != ''">
                admin = #{set.admin,jdbcType=VARCHAR},
            </if>
            <if test="where.createTime == null and set.createTime != null">
                create_time = #{set.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.modifiedTime == null and set.modifiedTime != null">
                modified_time = #{set.modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.version == null and set.version != null">
                version = #{set.version,jdbcType=INTEGER},
            </if>
        </set>
        <where>
            <if test="where.id != null and id != ''">
                and id = #{where.id,jdbcType=INTEGER}
            </if>
            <if test="where.name != null and name != ''">
                and name = #{where.name,jdbcType=VARCHAR}
            </if>
            <if test="where.password != null and password != ''">
                and password = #{where.password,jdbcType=VARCHAR}
            </if>
            <if test="where.loginTime != null and loginTime != ''">
                and login_time = #{where.loginTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.admin != null and admin != ''">
                and admin = #{where.admin,jdbcType=VARCHAR}
            </if>
            <if test="where.createTime != null and createTime != ''">
                and create_time = #{where.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.modifiedTime != null and modifiedTime != ''">
                and modified_time = #{where.modifiedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.version != null and version != ''">
                and version = #{where.version,jdbcType=INTEGER}
            </if>
        </where>
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update tb_user
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="name = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.name}
                </foreach>
            </trim>
            <trim prefix="password = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.password}
                </foreach>
            </trim>
            <trim prefix="login_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.loginTime}
                </foreach>
            </trim>
            <trim prefix="admin = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.admin}
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.createTime}
                </foreach>
            </trim>
            <trim prefix="modified_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.modifiedTime}
                </foreach>
            </trim>
            <trim prefix="version = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.version}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.Long">
        delete from tb_user where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="com.luna.post.entity.User">
        delete from tb_user
        <where>
            <if test="name != null  and name != '' ">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="password != null  and password != '' ">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="loginTime != null  ">
                and login_time = #{loginTime,jdbcType=TIMESTAMP}
            </if>
            <if test="admin != null  and admin != '' ">
                and admin = #{admin,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null  ">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="modifiedTime != null  ">
                and modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="version != null  ">
                and version = #{version,jdbcType=INTEGER}
            </if>
        </where>
    </delete>

    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from tb_user where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>

    <select id="countAll" resultType="int">
        select count(id) from tb_user
    </select>

    <select id="countByEntity" parameterType="com.luna.post.entity.User" resultType="int">
        select count(id) from tb_user
        <where>
            <if test="id != null  ">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="name != null  and name != '' ">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="password != null  and password != '' ">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="loginTime != null  ">
                and login_time = #{loginTime,jdbcType=TIMESTAMP}
            </if>
            <if test="admin != null  and admin != '' ">
                and admin = #{admin,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null  ">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="modifiedTime != null  ">
                and modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="version != null  ">
                and version = #{version,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>
